<header class="header">
  <div routerLink="/" class="inner-header-block main-logo">
    <div class="flex-item"><img class="header-logo" src="assets/images/favicon-32x32.png"></div>
    <div class="flex-item"><h3>Social Media App</h3></div>
  </div>
  <div class="inner-header-block">
    <mat-form-field style="margin-top: 10px; margin-right: 20px;">
      <mat-label>Select chat</mat-label>
      <input type="text" matInput [formControl]="userControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayFn"
                        [hideSingleSelectionIndicator]="true"
                        (optionSelected)="selectUser($event.option.value)"
      >
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
          {{user.username}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <ng-container *ngIf="isAuthenticated; else showLoginButton">
      <div class="flex-item"><img src="{{user?.image || 'assets/images/empty-user.jpg'}}" class="header-logo"></div>
      <div class="flex-item"><span class="user-name">{{user?.lastName}} {{user?.firstName}}</span></div>
    </ng-container>
    <ng-template #showLoginButton>
      <button mat-raised-button routerLink="/login" color="primary">Login or create account</button>
    </ng-template>
    <div class="flex-item">
        <a class="message-icon" routerLink="/messages" mat-icon-button><mat-icon>message</mat-icon></a>
    </div>
    <ng-container *ngIf="isAuthenticated">
      <div class="burger-menu">
        <button mat-icon-button [matMenuTriggerFor]="auth">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #auth="matMenu">
          <button mat-menu-item routerLink="posts/add">Add post</button>
          <button mat-menu-item routerLink="/me">My profile</button>
          <button mat-menu-item routerLink="user/update">Account settings</button>
          <button mat-menu-item (click)="logout()">Log out</button>
        </mat-menu>
      </div>
    </ng-container>
  </div>
</header>
