@import "../../styles";

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: $Off-Black;
}

.header-logo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.inner-header-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  flex-wrap: wrap;
}

.flex-item {
  margin: 10px;
}
