@import "../../styles";

.header {
  background-color: $Dark-Grey;
  color: $White;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: calc(100% / 3); // Set width to one-third of the viewport width
  left: calc((100% / 3)); // Center the header horizontally
  z-index: 1000; // Ensure it's on top of other content
}

.logo-container,
.user-info {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 30px; // Adjust as needed
  height: 30px; // Adjust as needed
  margin-right: 10px;
}

.app-name,
.user-name {
  font-size: 1.2rem;
}

.spacer {
  flex: 1; // Take up remaining space in the header
}

.user-photo {
  width: 30px; // Adjust as needed
  height: 30px; // Adjust as needed
  border-radius: 50%; // Make it round
  margin-right: 10px;
}
