<!--<div class="header">-->
<!--  <div class="logo-container mat-h3">-->
<!--    <img src="assets/images/favicon-32x32.png" alt="Logo">-->
<!--    <span class="app-name">Your App Name</span>-->
<!--  </div>-->
<!--  <div class="spacer"></div> &lt;!&ndash; Spacer to align with 12-column grid &ndash;&gt;-->
<!--  <div class="user-info">-->
<!--    <img src="assets/images/avatar-jessica.jpeg" alt="User Photo" class="user-photo">-->
<!--    <span class="user-name">John Doe</span>-->
<!--    <button mat-icon-button>-->
<!--      <mat-icon>message</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->


<!--<div class="container">-->
<!--  <div class="item">-->
<!--    <img src="assets/images/favicon-32x32.png" class="header-logo">-->
<!--  </div>-->
<!--  <div class="item">-->
<!--    <h3>Social Media App</h3>-->
<!--  </div>-->
<!--</div>-->



<header class="header">
  <div class="inner-header-block">
    <div class="flex-item"><img class="header-logo" src="assets/images/favicon-32x32.png"></div>
    <div class="flex-item"><h3>Social Media App</h3></div>
  </div>
  <div class="inner-header-block">
    <div class="flex-item"><img src="assets/images/avatar-jessica.jpeg" class="header-logo"></div>
    <div class="flex-item"><span class="user-name">{{user.lastName}} {{user.firstName}}</span></div>
    <div class="flex-item">
        <button mat-icon-button><mat-icon>message</mat-icon></button>
    </div>
  </div>
</header>
