[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.7"
pandas = "==2.2.2"
djangorestframework = "==3.15.1"
djangorestframework-simplejwt = "==5.3.1"
psycopg2-binary = "==2.9.9"
django-cors-headers = "*"
pillow = "*"
drf-extra-fields = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
shell = "python manage.py shell"
dev-server = "python manage.py runserver"
