<div class="chat-list">
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <img class="avatar" src="assets/images/avatar-jessica.jpeg">
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>
  <div class="chat-item">
    <div class="avatar"></div>
    <div class="message">
      <h2>Ім'я Прізвище</h2>
      <p>Останнє повідомлення від користувача</p>
    </div>
  </div>

  <!-- Додайте більше елементів чату тут -->
</div>
