@import "../../styles";

.chat-list-container {
  max-width: 55%;
  margin: 0 auto;
  padding: 20px;
  background-color: $Dark-Grey;
  border-radius: 10px;
}

.chat-list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: $White;

  h2 {
    margin: 0;
  }
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-item {
  display: flex;
  align-items: center;
  justify-content: space-between; // Ensure menu button is at the right
  margin-bottom: 10px;
  padding: 10px;
  background-color: $Grey;
  border-radius: 10px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: lighten($Grey, 10%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
  }

  .avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $Green;
  }

  .message {
    flex-grow: 1;
    color: $White;
    h2 {
      margin: 0;
      font-size: 16px;
    }
    p {
      margin: 5px 0 0 0;
      font-size: 14px;
    }
  }

  button {
    margin-left: 10px;
  }
}

.time-menu {
  display: flex;
  align-items: center;

  .time {
    font-size: 12px;
    color: $White;
  }

  button {
    margin-left: 10px;
  }
}
