<div class="post-container">
  <h2 class="title">My Posts</h2>
  <div *ngFor="let post of myPosts" class="post">
    <div class="header">
      <div class="author-info">
        <img [src]="this.user?.image" class="thumbnail">
        <div class="username">{{ this.user?.username }}</div>
      </div>
      <div class="post-meta">
        <div class="created-at">{{ post.created_at | date: 'short' }}</div>
        <div class="burger-menu">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Save</button>
          </mat-menu>
        </div>
      </div>
    </div>
    <div class="main">
      <img [src]="post.image.replace(':4200', ':8000')" class="photo"/>
      <div class="text">{{ post.text }}</div>
    </div>
    <a mat-stroked-button routerLink="/comments/{{post.id}}" class="comments">{{post.comments_amount}} comments</a>
  </div>
</div>
