<div class="chat-container">
  <div class="main">
    <div class="header">
      <img src="assets/images/avatar-jessica.jpeg" class="chat-user-logo">
      <div class="user-info">
        <h2>Ім'я Прізвище</h2>
        <p>@username</p>
      </div>
    </div>

    <div class="messages">
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>
      <div class="message mine">
        <p>Це моє повідомлення</p>
      </div>
      <div class="message theirs">
        <p>Це повідомлення співбесідника</p>
      </div>

    </div>

    <div class="input-area">
      <mat-form-field appearance="fill">
        <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="5" type="text" placeholder="Напишіть повідомлення..." style="max-height: 45px;"></textarea>
      </mat-form-field>
      <button mat-raised-button color="primary">Надіслати</button>
    </div>
  </div>
</div>
