@import "../../styles";

.chat-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.main {
  width: 65vw;
  height: 90vh;
  @include flex-center;
  flex-direction: column;
  background-color: $Dark-Grey;
  text-align: center;
  border-radius: 7px;
  padding: 20px;
}

.header, .input-area {
  @include flex-center;
  gap: 25px;
  justify-content: left;
  width: 100%;
  margin-bottom: 10px;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-user-logo {
  border-radius: 20px;
  width: 55px;
  height: 55px;
}

.messages {
  flex-grow: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  scrollbar-color: #333333FF #1F1F1FFF;
  scrollbar-width: thin;
}

.message {
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  position: relative; // Added to position time inside message box

  p {
    margin-bottom: 10px;
  }
}

.mine {
  align-self: flex-end;
  background-color: $Green;
  max-width: 70%;
}

.theirs {
  align-self: flex-start;
  background-color: $Grey;
  max-width: 70%;

  .username {
    font-size: 12px;
    font-weight: bold;
    color: $White;
    margin-bottom: 5px;
  }
}

.input-area {
  margin-bottom: 0;
  padding-top: 35px;
  input {
    flex-grow: 1;
    margin-right: 10px;
  }
  mat-form-field {
    width: 100%;
  }
}

.time {
  font-size: 10px;
  color: $Light-Grey;
  position: absolute;
  bottom: 5px;
  right: 10px;
}
