<div class="main">
  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Username</mat-label>
          <input matInput name="username" [formControlName]="'username'" required pattern="[a-zA-Z0-9]+">
          <mat-error *ngIf="loginForm.controls['username']?.hasError('required')">Username is required</mat-error>
          <mat-error *ngIf="loginForm.controls['username']?.hasError('pattern')">Username can only contain letters and numbers</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput type="password" name="password" [formControlName]="'password'" required>
          <mat-error *ngIf="loginForm.controls['password']?.hasError('required')">This field is required</mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>

        <div class="button-row">
          <a mat-button routerLink="/forgot-password">Forgot password?</a>
          <span class="spacer"></span>
          <a mat-button routerLink="/sign-up">Create new account</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
