@import "../../styles";

.main {
  @include flex-center;
}

.full-width {
  width: 100%;
}

.add-post-card {
  width: 35vw;
  height: auto;
  @include flex-center;
  flex-direction: column;
  background-color: $Dark-Grey;
  border-radius: 7px;
  padding: 20px;

  mat-form-field {
    margin-bottom: 20px;
    background-color: $Dark-Grey !important;

    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: $Dark-Grey;
    }

    textarea {
      color: $White;
      border-color: $Grey;
      border-radius: 5px;
      font-size: 16px;
      padding: 10px;

      &::placeholder {
        color: $Grey;
      }
    }

    input {
      color: $White;
      border-color: $Grey;
      border-radius: 5px;
      font-size: 16px;
      padding: 10px;

      &::placeholder {
        color: $Grey;
      }
    }

    .mat-form-field-underline {
      color: $Green;
    }

    mat-error {
      color: $Red;
    }
  }

  .fileUploadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .preview-image {
      margin-top: 10px;
      width: 450px;
      height: 450px;
      border-radius: 5px;
    }

    .upload-placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: $Grey;
      cursor: pointer;

      mat-icon {
        font-size: 48px;
      }
    }

    .deleteButton {
      margin-top: 10px;
    }
  }

  button {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 250px;
  }
}
