<!--<main class="main">-->
<!--  <img-->
<!--    src="../assets/images/avatar-jessica.jpeg"-->
<!--    alt="Jessicas avatar"-->
<!--  />-->

<!--  <section class="details">-->
<!--    <h2>Jessica Randall</h2>-->
<!--    <small>London, United Kingdom</small>-->
<!--  </section>-->

<!--  <q>Front-end developer and avid reader.</q>-->

<!--  <app-mybutton-->
<!--    *ngFor="let buttonName of buttonNames"-->
<!--    [name]="buttonName"-->
<!--  />-->
<!--</main>-->
<app-header></app-header>
<app-registration></app-registration>
<router-outlet />
