<div class="post-container">
  <div class="post">
    <div class="header">
      <div class="author-info">
        <img src="assets/images/avatar-jessica.jpeg" class="thumbnail">
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
  <div class="post">
    <div class="header">
      <div class="author-info">
        <div class="thumbnail"></div>
        <div class="username">Username</div>
      </div>
      <div class="burger-menu"></div>
    </div>
    <div class="main">
      <div class="photo"></div>
      <div class="text">Текст допису</div>
    </div>
    <a href="#" class="comments">187 коментарів</a>
  </div>
</div>
