@import "../../styles.scss";
@import "src/app/post-list/post-list.component.scss";

.comments-container {
  width: 66%;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.comment {
  width: 100%;
  display: flex;
  flex-flow: row;
  background-color: $Dark-Grey;
  border-radius: 10px;
  margin: 5px;
  padding: 20px;
  color: $White;
  font-family: 'Inter', sans-serif;

  .comment-header {

    .thumbnail {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $Grey;
      margin-right: 10px;
    }
  }

  .comment-body {
    .username {
      color: mediumpurple;
      font-weight: 600;
      font-size: 12px;
    }

    .comment-text {
      color: $White;
      font-size: 12px;
      line-height: 1.5;
      margin-top: 5px;
    }
  }

  .comment-created-at {
    justify-content: end;
    position: relative;
    left: 2%;

    .created-at-label {
      //background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
      padding: 5px; /* Add padding */
      border-radius: 5px; /* Add border radius */
      font-size: 12px; /* Adjust font size */
      color: $Grey; /* Text color */
    }
  }
}

.add-comment {
  display: flex;
  width: 66%;
  margin-top: 10px;
  align-items: center;

  .comment-input {
    flex-grow: 1;
    margin-right: 10px;
  }

  button {
    white-space: nowrap;
  }
}

.spacer {
  flex-grow: 1; // To push created_at label to the right
}
