@import "../../styles";

.main {
  @include flex-center;
}

.full-width {
  width: 100%;
}

.update-card {
  width: 35vw;
  height: auto;
  @include flex-center;
  flex-direction: column;
  background-color: $Dark-Grey;
  border-radius: 7px;
  padding: 20px;

  mat-form-field {
    margin-bottom: 20px;
    background-color: $Dark-Grey !important;

    ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
      background-color: $Dark-Grey;
    }

    input {
      color: $White;
      border-color: $Grey;
      border-radius: 5px;
      font-size: 16px;
      padding: 10px;

      &::placeholder {
        color: $Grey;
      }
    }

    .mat-form-field-underline {
      color: $Green;
    }

    mat-error {
      color: $Red;
    }
  }

  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-picture {
      margin-top: 10px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  button {
    width: 100%;
  }

  @media (max-width: 768px) {
    width: 250px;
  }
}
