@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

$Green: hsl(75, 94%, 57%);
$White: hsl(0, 0%, 100%);
$Grey: hsl(0, 0%, 20%);
$Dark-Grey: hsl(0, 0%, 12%);
$Off-Black: hsl(0, 0%, 8%);
$Red: #f44336;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: $White;
}

body {
  height: 100vh;
  @include flex-center;
  background-color: $Off-Black;
  font: 14px 'Inter';
  letter-spacing: .5px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
